.search_page {
  width: 100%;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #ffc9c9 0px, #ffc9c9 200px, #ffc9c9 66%, #ffefef 100%);
}

.bg_header {
  width: 100%;
  height: 600px;
  background-image: url('./src/assets/forher_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, transparent 100%); */
}

.search_form {
  width: 90%;
  height: 500px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 5px;
  transform: translateY(-100px);
  background-color: rgb(255, 255, 255);
}

.search_for {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search_for button {
  width: 230px;
  padding: 15px;
  color: #212121;
  border: 2px solid #212121;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}
