.week_calendar {
  max-width: 800px;
  margin: 0 auto;
  color: #481b1b;
}

.calendar_upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.calendar_action_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar_action_btns button:hover svg path {
  fill: #481b1b;
}

.calendar_action_btns button:last-child svg {
  transform: rotate(180deg);
}

.calendar_bottom {
  display: flex;
  gap: 10px;
}

.calendar_day {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #dadadb;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.calendar_day_sltd {
  background-color: #481b1b;
  color: #fff;
}
