.shopheader {
  position: relative;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f6;
  color: #481b1b;
}

.shopheader_back {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.shopheader_service {
  font-size: 2rem;
  font-weight: bold;
}

.shopheader_shopname {
  font-size: 1.8rem;
  font-weight: normal;
}

.bookingsteps {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 240px));
  justify-content: center;
  gap: 10px;
  background-color: transparent;
}

.bookingsteps li {
  width: 100%;
  padding: 5px 10px;
  color: var(--color-custom2);
}

.bookinsteps_active {
  color: var(--color-custom3) !important;
}

.bookinsteps_active svg path {
  stroke: var(--color-custom3) !important;
  fill: var(--color-custom3) !important;
}

.bookingsteps li button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.bookingsteps li:last-child button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.bookingsteps_step {
  font-size: 1.9rem;
  font-weight: bold;
}

.bookingsteps_text {
  font-size: 1.6rem;
}

.shopservices_ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  /* margin-top: 50px; */
  max-width: 800px;
}

.shopservices_li {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: #481b1b;
  border-bottom: 3px dotted #867c7c;
}

.shopservices_desciption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopservices_desciption_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shopservices_price {
  min-width: 100px;
  text-align: center;
}

.shopservices_confirm_btn {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: #481b1b;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}

.list_divider {
  width: 100%;
  margin: 20px auto 10px;
  max-width: 850px;
}

.list_divider h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #481b1b;
}
